extends ../layout 
append head
  title Admin Dashboard
  link(rel="stylesheet" href="../dashboard/main.css")
  link(rel="shortcut icon" type="image/png" href="/assets/logo.png")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
block content 
  .container-fluid.mt-3
    .row
      .col-md
        h3 Reported Content
        div(id="posts")
          each post in reported
            .card.mt-3(id=`${post._id}`)
              .card-header 
                = post._id
              .card-body
                h5.card-title.mb-3= post.postedBy.name
                p.card-text= post.content 
              .card-footer
                button.btn.btn-success.dismissPost(onclick=`dismiss(${JSON.stringify(post._id)})`) Dismiss
                button.btn.btn-danger.ml-3.deletePost(onclick=`deletePost(${JSON.stringify(post._id)})`) Delete Post 

      .col-md
        h3 Events 
        div(id="events")
          each event in events 
            .card.mt-3 
              .card-header
                = event.date
              .card-body 
                h5.card-title.mb-3= event.name
                h6.card-text.text-muted.mb-1= event.location
                p.card-text.event-description= event.description
                span.d-flex 
                  p.card-text $
                  p.card-text= event.cost

              .card-footer
                a(class="btn btn-primary" href=`/admin/dashboard/event/${event._id}`) See More 
      .col-md.pt-5.d-flex.flex-column.align-items-center
        button(class='btn btn-primary mb-3' data-toggle="modal" data-target="#createEvent") Create Event 
        button(class="btn btn-secondary" id="logout") Logout



  div(class="modal fade" id="createEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="exampleModalLabel") New Event
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times
        div(class="modal-body")
          input(class="form-control mb-3" placeholder="Event Name" id="eventName")
          input(class="form-control mb-3" placeholder="Event Location" id="eventLocation")
          input(class="form-control mb-3" placeholder="Date" id="eventDate")
          input(class="form-control mb-3" type="number" placeholder="Cost" id="eventCost")
          textarea(class="form-control" rows="10" id="eventDescription") Event Description
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
          button(type="button" class="btn btn-primary" id="createEventButton") Create Event 

  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
  script(async, src="/dashboard/index.js")
