extends ../layout 
append head
  title Event
  link(rel="stylesheet" href="/event/main.css")
  link(rel="shortcut icon" type="image/png" href="/assets/logo.png")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
block content 
  .row.mt-3
    .col-5.ml-3
        h2 Event Details
        label(id="eventID" value=`${event._id}`) #{event._id}
        hr
        label.mt-1 Name:
        input(value=`${event.name}` class="form-control mb-3" id="name")
        label Cost:
        input(value=`${event.cost}` class="form-control mb-3" type="number" id="cost")
        label Location:
        input(value=`${event.location}` class="form-control mb-3" id="location")
        label Description:
        textarea(rows="5" class="form-control mb-3" id="description")= event.description
        label Date:
        input(value=`${event.date}` class="form-control" id="date")
        .d-flex.mt-3
          button(class="btn btn-primary mr-3" id="update") Update
          button(class="btn btn-danger mr-3" id="delete") Delete Event
          button(class="btn btn-secondary" id="returnToDash") Back to Dashboard 
    .col-6
      h2 Players 
      each player in event.players
        .d-flex.justify-content-around.mt-3
          p= player.name
          p= player.position
          p= player.email
          a(href=`/user/${player._id}`) See Profile 
          button(type="button" class="btn btn-warning" onclick=`removePlayer(${JSON.stringify(player._id)})`) Remove 


  div(class="modal fade" id="exampleModalCenter" tabIndex="-1")
    div(class="modal-dialog modal-dialog-centered" role="document")
      div(class="modal-content bg-success")
        div(class="modal-header bg-success m-auto border-0 d-flex flex-column align-items-center")
          h2(class="modal-title text-white mb-3" id="exampleModalLongTitle")
            i(class="far fa-check-circle fa-3x")
          h4(class="modal-title text-white")

  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
  script(src="/event/index.js")
